.p-about {
  --num: 24px;
  // margin-top: -100px;
  position: relative;
  z-index: 1;
}

.p-about__title {
  font-size: 40px;
  font-weight: 700;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.p-about__man {
  font-size: 100px;
}

.p-about__setting {
  // margin-top: var(--num);

  &:last-of-type {
    margin-bottom: var(--num);
    padding-bottom: var(--num);
    border-bottom: 0.5px solid var(--c-primary-300);
  }
}

.p-about__text {
  padding: 24px;
  background-color: var(--c-primary-100);
  display: grid;
  grid-template: max-content / max-content 1fr;
  justify-content: space-between;
  column-gap: 16px;
}

.p-about__icon {
  width: 16px;
  height: 16px;
  background-color: var(--c-primary-500);
  margin-top: 4px;
  border-radius: 2px;
}
