:root {
  --c-primary-900: #111;
  --c-primary-900: #222;
  --c-primary-800: #333;
  --c-primary-700: #444;
  --c-primary-600: #555;
  --c-primary-500: #666;
  --c-primary-400: #777;
  --c-primary-300: #888;
  --c-primary-400: #999;
  --c-primary-300: #aaa;
  --c-primary-200: #bbb;
  --c-primary-100: #ccc;
  --c-primary-50: #fff;
  --c-secondary-900: #0F2046;
  --c-secondary-900: #152C62;
  --c-secondary-800: #1B397E;
  --c-secondary-700: #21469A;
  --c-secondary-600: #2752B6;
  --c-secondary-500: #2D5FD2;
  --c-secondary-400: #4974D8;
  --c-secondary-300: #658ADE;
  --c-secondary-400: #819FE4;
  --c-secondary-300: #9DB4EA;
  --c-secondary-200: #B9CAF0;
  --c-secondary-100: #D5DFF6;
  --c-accent-500: #FF4081;
  --padding-left: .05em
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  letter-spacing: .05em;
  font-feature-settings: 'palt';
}

span {
  display: inline-block
}

.main {
  width: min(80vw, 700px);
  margin: 0 auto;
}