<section class="l-section">
  <h1 class="l-section__heading l-section__heading--primary">
    命名規則とファイルの種類tests
  </h1>
  <p class="l-section__text">
    命名規則は、<span class="c-stressed">PDFLOCSS（Page Divided FLOCSS）</span
    >を採用し、自分用に少し変更を加えています。
    <br />
    <span class="c-stressed">BEM</span>やF<span class="c-stressed">LOCSS</span
    >なども使用した経験もあります。
  </p>
  <slot />
</section>
