---
import Icon from "@/images/icon-footer.svg";
---

<footer class="l-footer">
  <div class="l-footer__sticky">
    <img src={Icon} alt="" />
    <div class="l-footer__text">Made with Super</div>
  </div>
</footer>
