<section class="l-section">
  <h1 class="l-section__heading l-section__heading--primary">CSS分割管理</h1>
  <p class="l-section__text">
    @useと@forwardを使用し、分割管理しています。 実行環境は <br /><span
      class="c-stressed">Dart Sass</span
    >を採用しています。
  </p>
  <h2 class="l-section__heading l-section__heading--secondary">
    ❚ ファイル構成
  </h2>
  <h2 class="l-section__heading l-section__heading--secondary">
    ❚ style.scssにコンパイルする流れ
  </h2>
  <h2 class="l-section__heading l-section__heading--secondary">
    ❚ 変数やmixinの使用方法
  </h2>
</section>
