---
import Header from "@/components/common/Header.astro";
import Footer from "@/components/common/Footer.astro";
import "@/styles/foundation/destyle.css";
import "@/styles/foundation/base.scss";
import "@/styles/component/header.scss";
import "@/styles/component/footer.scss";
import "@/styles/component/section.scss";
import "@/styles/component/stressed.scss";
import "@/styles/component/fv.scss";
import "@/styles/component/about.scss";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yamazaki Astro</title>
  </head>
  <body>
    <Header />
    <main class="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>
