---
import Header from "@components/common/Header.astro";
import Footer from "@components/common/Footer.astro";
import "@styles/foundation/destyle.css";
import "@styles/foundation/base.scss";
import "@styles/components/header.scss";
import "@styles/components/footer.scss";
import "@styles/components/section.scss";
import "@styles/components/stressed.scss";
import "@styles/components/fv.scss";
import "@styles/components/about.scss";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class="main">
      <slot />
    </main>
    <Footer />
    <script>
      import "@scripts/common.js";
    </script>
  </body>
</html>
